<div class='row'>
<div class='col-lg-12' style="padding:20%">
<center>
<a href="https://app.asana.com/-/oauth_authorize
?client_id=1200026081190326
&redirect_uri=http://localhost:3000/dashboard
&response_type=code
&state=thisIsARandomString
&code_challenge_method=S256
&code_challenge=671608a33392cee13585063953a86d396dffd15222d83ef958f43a2804ac7fb2
&scope=default" style='background:red;color:white;font-weight:bold;width:180px;height:60px;font-size:14pt;padding:5px'>Authenticate with Asana</a>
</center>
</div>
</div>